.viewport {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.623);
    padding-top: 56px;
}

.row {
    max-width: 100%;
}

.floating {
    margin: 10px;
}


/* #content {
    width: 100%;
    height: 100%;
} */