.viewport {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.623);
    padding-top: 56px;
}

.row {
    max-width: 100%;
}

.floating {
    margin: 10px;
}

#profilelink {
    width: 100%;
}

.postuserprofileimg {
    width: 50px;
}

.post {
    margin: 10px 0px;
    width: 100%;
}

.postuserinfo {
    display: flex;
}

.postuserdivimage {
    margin-right: 10px;
    min-width: 100px;
}

.postuserdivcontent {}

.postbottombar {}

.replyuserimagediv {
    margin-right: 10px;
    min-width: 100px;
}

.replyuserinfo {
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

.replyusercontent {
    max-width: 80%;
}


/* #content {
    width: 100%;
    height: 100%;
} */