{% extends "layout.html"%}
<!--  -->
{% block title %} Home Page {% endblock %}
<!--  -->
{% block sidebar %}


<div class="card floating">
    <img src="/static/profile/profile_1.png" class="card-img-top" alt="WHEN LOGGED IN IT SHOULD SHOW PROFILE IMAGE">
    <div class="card-body">
        <a href="#" class="btn btn-dark profilelink" href='userprofile'>{{name}}</a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>


<p>TODO // Sidebar Extra Conent</p>
{% endblock %}
<!--  -->
{% block content %}



<div class="card post">
    <h5 class="card-header">Create New Post</h5>
    <div class="card-body">
        <form id="newpost" class="form" action="" method="POST">
            <div class="form-group">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Text</span>
                    </div>
                    <textarea type="text" class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-info profilelink"><i class="bi bi-plus-square"></i> New Post</button>
        </form>

    </div>
</div>

<!-- feed -->


<!-- post HTML content -->
<div class="card post">
    <div class="card-body">
        <div class="postuserinfo">
            <div class="postuserdivimage">
                <img src="/static/profile/profile_4.png" class="postuserprofileimg" alt="WHEN LOGGED IN IT SHOULD SHOW PROFILE IMAGE">
                <h5 class="card-title">User name</h5>
            </div>
            <div class="postuserdivcontent">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card
                    title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <hr>
        <h5 class="card-header"><i class="bi bi-reply"></i> Replies</h5>

        <!-- post replies -->

        <div class="replyuserinfo">
            <div class="replyuserimagediv">
                <img src="/static/profile/profile_7.png" class="postuserprofileimg" alt="WHEN LOGGED IN IT SHOULD SHOW PROFILE IMAGE">
                <h5 class="card-title">User name</h5>
            </div>
            <div class="replyusercontent">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card
                    title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <hr>
        <div class="postbottombar">
            <a href="#" class="btn btn-info"><i class="bi bi-hand-thumbs-up"></i> Like <span
                    class="badge badge-secondary">{%print(200)%}</span> </a>
            <a href="#" class="btn btn-info"><i class="bi bi-reply"></i> Reply</a>
        </div>
    </div>
</div>

{% endblock %}